# Dateien in Doku: #
doku/*.txt
doku/*.aux
doku/*.out
doku/*.pdf
doku/*.gz
doku/*.toc
doku/*.log

# Dateien in Bericht: #
bericht/*.txt
bericht/*.aux
bericht/*.out
bericht/*.pdf
bericht/*.gz
bericht/*.toc
bericht/*.log

# Ignore Visual Studio Code folder
.vscode/
