<launch>

   <param name="use_sim_time" value="true" />
   <include file="$(find p2os_launch)/launch/gmapping.launch" />
   <node name="rviz" pkg="rviz" type="rviz" />
   <node pkg="rosbag" name="rosbag" type="play" args="--clock /home/pioneer/Desktop/bagfiles/wlan_pioneer_2018-12-18-18-43-47.bag"/>
   

   <node pkg="rosbag" type="record" name="rosbag_record_gmapping_post"
        args="record -o /tmp/wlan_pioneer_postprocessing /pose /scan /tf /wlan_signal /map" />

</launch>

